# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
Gemfile.lock
service_configs.yml
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc

# YARD artifacts
.yardoc
_yardoc
doc/

# YML artifact
service_hooks.yml

# IDE
.idea/
